{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div align="center">
    <a href="{{ url_for('auth.logout') }}">Выйти</a>
</div>
{% else %}
<div align="center">
    <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
    <a href="{{ url_for('auth.login') }}">Войти</a>
</div>

<h2 align="center">Товары:</h2>

<div align="center">
    {% for product in products %}
    <div align="center">
        {{ product.name }}
        {{ product.price }}
    </div>

    {% endfor %}
</div>

{% endif %}
{% endblock %}